{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<body>
  <Div class="container">
    <div class="container">
      <img class="img-fluid" src="{{ asset('img/chefheader3.jpg') }}">
    </div>


    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <h1 class="card-title"> chef privé</h1>
      </div>
      <div class="card-body">
        <p class="card-text">vivez une experience culinaire personalisée avec un chef au sein de votre espace
          personnel
        </p>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for a chef" aria-label="Search">
      </div>
    </div>

    <ul>
      <li>
        <div class="d-flex mb-3">
      <li>
        <h2>transformer votre maison en restaurant avec un chef privé</h2> <br>
        <P> choisisez votre menu composé par le chef, et il s'occupera du reste</P>
      </li>

  </div>

  {#card#}
  <div class="parent__container">
    <div class="info left">
      <img src="{{ asset('img/cuisine.jpg') }}" class="img" alt="...">
      <h5 class="container">Nos chefs privés auront le plaisir de cuisinez pour vous</h5>
      <p class="card-text">Quelques heures avant votre dîner, votre chef arrivera et commencera à préparer le menu
        sur lequel vous vous êtes mis d'accord.

        Vous aurez l'opportunité de regarder et apprendre de nouvelles recettes de votre chef pendant qu'il
        cuisine
        chez vous!</p>
    </div>
    <div class="info right">
      <img src="{{ asset('img/plat.jpg') }}" class="img" alt="...">
      <h5 class="container">nous vous servirons chaque plat</h5>
      <p class="card-text">Votre chef privé et son équipe se chargeront du service à table, ils vous guideront à travers
        chaque détail
        dans chaque plat afin que vous puissiez vivre une expérience culinaire unique dans le confort de votre propre
        maison.

        Grâce à notre service discret et professionnel, nous garantissons que vous et vos invités pourront profiter de
        la soirée sans vous soucier!</p>

    </div>
    <div class="info left">
      <img src="{{ asset('img/cuisine.jpg') }}" class="img" alt="...">
      <h5 class="container">Nous vous laisserons la cuisine imppecable!</h5>
      <p class="card-text">Le nettoyage est une partie essentielle d'un service parfait! Avant de partir, le chef et son
        équipe
        s'assureront que chaque équipement et vaisselle utilisés dans le service seront laisser tels qu'ils les ont
        trouvés.

        Détendez-vous et profitez de votre soirée en toute tranquillité, votre chef privé va tout prendre en charge!</p>
    </div>
  </div>

</body>

</html>

{% endblock %}