{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Inscription</h1>
            {{ form_start(registrationForm) }}
            <fieldset class="mb-3">
                <legend>mon identité</legend>
                {{ form_row(registrationForm.lastname) }} 
                {{ form_row(registrationForm.firstname) }} 
                {{ form_row(registrationForm.email) }}
            </fieldset>
            {{ form_row(registrationForm.chef) }}

            {# <fieldset class ="mb-3">
                <legend>mes coordonées</legend>
                {{ form_row(registrationForm.address) }} 
                {{ form_row(registrationForm.zipcode) }} 
                {{ form_row(registrationForm.city) }}
            </fieldset>
                 #}

                {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-outline-success btn-lg my-3">m'inscrire</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
</section>
{% endblock %}