{% extends 'base.html.twig' %}

{% block title %}MenuImg index{% endblock %}

{% block body %}
    <h1>MenuImg index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_img in menu_imgs %}
            <tr>
                <td>{{ menu_img.id }}</td>
                <td>{{ menu_img.name }}</td>
                <td>
                    <a href="{{ path('app_menu_img_show', {'id': menu_img.id}) }}">show</a>
                    <a href="{{ path('app_menu_img_edit', {'id': menu_img.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_img_new') }}">Create new</a>
{% endblock %}
