{% extends 'base.html.twig' %}

{% block title %}MenuImg{% endblock %}

{% block body %}
    <h1>MenuImg</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu_img.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu_img.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_menu_img_index') }}">back to list</a>

    <a href="{{ path('app_menu_img_edit', {'id': menu_img.id}) }}">edit</a>

    {{ include('menu_img/_delete_form.html.twig') }}
{% endblock %}
