{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
    <h1>Adress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adress</th>
                <th>Aditional</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.adress }}</td>
                <td>{{ adress.aditional }}</td>
                <td>{{ adress.city }}</td>
                <td>{{ adress.zipcode }}</td>
                <td>
                    <a href="{{ path('app_adress_show', {'id': adress.id}) }}">show</a>
                    <a href="{{ path('app_adress_edit', {'id': adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adress_new') }}">Create new</a>
{% endblock %}
