{% extends 'base.html.twig' %}

{% block description %}Page de contact du site{% endblock %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/contact.css')}}">
{% endblock %}

{% block body%}
{{ form_start(contactForm) }}
<div class=" container emp_contact">

    <div class="row">


        <div>{{ form_row(contactForm.firstname, {
            'label': 'Prénom'
            }) }}
        </div>
        
        <div>
            {{ form_row(contactForm.lastname, {
            'label': 'Nom'
            }) }}
        </div>

        <div>
            {{form_row(contactForm.email, {
            'label':'Email',
            })}}

        </div>

        <div>
            {{form_row(contactForm.message, {
                'label':'Message'
                })}}
        </div>



        <div>
            {{ form_row(contactForm.subject, {
            'label': 'Sujet'
            }) }}
        </div>

        <div class="row text-end">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-success btn-lg my-3">Envoyer</button>
            </div>
        </div>

        {{ form_end(contactForm) }}

    </div>






    {% endblock %}