{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Content_message</th>
                <td>{{ message.contentMessage }}</td>
            </tr>
            <tr>
                <th>Sent_at</th>
                <td>{{ message.sentAt ? message.sentAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Read_at</th>
                <td>{{ message.readAt ? message.readAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_message_index') }}">back to list</a>

    <a href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
