<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="UTF-8">
        <meta name="author" content="Andrew Matoute">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="espace administrateur du site Rent a chef">


        <title>Rent a chef - admin - {% block title %}{% endblock %}</title>

        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
     
    
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">

        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        <header class="container-fluid bg-dark text-light p-3 text-center">   
             
            <div class="row">
                <div class="col-12">
                    <h2>Espace Administrateur</h2>
                </div>
            </div>
        </header>

        <main class="container-fluid">
            <div class="row">
                <div class="col-1 bg-secondary">
                    <nav>
                        <ul class="pt-3">
                            <li class="py-2"><a href="{{ path('app_espace_admin') }}" class="text-light" title="accueil administrateur"><i class="bi bi-house fs-4"></i></a></li>
                            <li class="py-2"><a href="{{ path('app_admin_menu_category_index') }}" class="text-light" title="catégories"><i class="bi bi-tags fs-4"></i></a></li>
                            <li class="py-2"><a href="{{path('app_admin_user_index')}}" class="text-light" title="utilisateurs"><i class="bi bi-people fs-4"></i></a></li>
                            <li class="py-2"><a href="{{ path('app_home') }}" class="text-light" title="accueil site"><i class="bi bi-house fs-4"></i></a></li>
                            <li class="py-2"><a href="{{ path('app_logout') }}" class="text-light" title="déconnexion"><i class="bi bi-door-open fs-4"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-11">
                    <div class="row p-5">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash-{{ label }} bg-{{ label }} text-light p-3 rounded mb-5">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="container-fluid bg-dark text-light text-center pt-3 pb-1">
            <p>Copyright © 2022 - Andrew Matoute</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="{{ asset('js/base.js') }} "></script>

        {% block javascripts %}{% endblock %}

    </body>

</html>
