{% extends 'base.html.twig' %}

{% block title %}MenuCategory index{% endblock %}

{% block body %}
    <h1>MenuCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category_name</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_category in menu_categories %}
            <tr>
                <td>{{ menu_category.id }}</td>
                <td>{{ menu_category.categoryName }}</td>
                <td>{{ menu_category.Img }}</td>
                <td>
                    <a href="{{ path('app_menu_category_show', {'id': menu_category.id}) }}">show</a>
                    <a href="{{ path('app_menu_category_edit', {'id': menu_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_category_new') }}">Create new</a>
{% endblock %}
