{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user.Firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.Lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
